body {
    background-color: #0d1117;
    color: white;
}

div {
    display: flex;
}

.row {
    flex-direction: row;
}

#div_form {
    flex-direction: column;
    width: 80vw;
    background-color: #292f38;
}