body {
    background-color: #0d1117;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
}

div {
    display: flex;
}

select {
    width: 100%;
    font-size: large;
}

textarea {
    width: 100%;
    height: 100px;
    font-size: large;
    resize: vertical;
}

button {
    background-color: #0d1117;
    color: white;
    font-size: x-large;
    font-weight: 550;
    margin: 0px 10px 0px 10px;
    border: 1px solid;
    border-color: rgb(131, 131, 131);
    border-radius: 5px;
}

.row {
    flex-direction: column;
    width: 96%;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

.title {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #292f38;
    border: 1px hidden;
    border-bottom-style: none;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: x-large;
    font-weight: 550;
    padding: 10px 0px 10px 0px;
}

.footer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.field_label {
    height: 50%;
    width: 100%;
}

.field_data {
    height: 50%;
    width: 100%;
}

#wrapper {
    
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    resize: vertical;
}

#div_form {
    border: 1px groove;
    border-color: rgb(131, 131, 131);
    border-radius: 6px;
    width: 100%;
    flex-direction: column;
    background-color: #0d1117;
}

#btn_send {
    color:white;
    background-color: #238636;
}

@media screen and (min-width: 1200px) {
    #wrapper {
        width: 50vw;
    }

    .row {
        flex-direction: row;
    }

    .field_label {
        width: 15%;
    }

    .field_data {
        width: 85%;
    }
}